<!DOCTYPE html>
<head>
    <title>Roll For Dinner</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Quicksand"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <h1>Recipes</h1>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe }}</li>
        {% endfor %}
    </ul>
    <h1>Grocery List</h1>
    <ul>
        {% for item in groceries %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
